<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<!--debug日志模板-->
	<appender type="log4net.Appender.RollingFileAppender" name ="ErrorLogByRollingAppender">
		<file value ="OtherFiles/ErrorLog/">	</file>
		<datePattern value ="yyyy-MM-dd-.'txt'"></datePattern>
		<staticLogFileName value ="false"></staticLogFileName>
	    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value ="Composite"></rollingStyle>
		<maxSizeRollBackups value ="20"></maxSizeRollBackups>
		<maximumFileSize value ="5MB"></maximumFileSize>
		<encoding value ="UTF-8"></encoding>
		<appendToFile value ="true"></appendToFile>
		<filter type="log4net.Filter.LevelRangeFilter">
			<param name="LevelMin" value="ALL" />
			<param name="LevelMax" value="FATAL" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%n 报错日志：%n 时间：%d{yyy-MM-dd HH:mm:ss } %n 类名：%c  %n 报错信息：%m %n "/>
		</layout>
	</appender>
	<!--debug日志对象-->
	<logger name ="ErrorLog">
		<level value="Error"/>
		<appender-ref ref="ErrorLogByRollingAppender" />
	</logger>
	<!--默认日志模板-->
	<appender type="log4net.Appender.RollingFileAppender" name ="DefaultLogByRollingAppender" >
		<file value="OtherFiles/DefaultLog/" />
		<datePattern value="yyyy-MM-dd-'.txt'"/>
		<rollingStyle value="Composite" />
		<encoding value="utf-8" />
		<maxSizeRollBackups value="20" />
		<maximumFileSize value="5MB" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<staticLogFileName value="false" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<param name="LevelMin" value="ALL" />
			<param name="LevelMax" value="ERROR" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value=" 默认请求日志：%n 时间：%d{yyy-MM-dd HH:mm:ss } %n 运行时间：%r %n "/>
		</layout>
	</appender>
	<!--默认日志对象-->
	<root>
		<priority value="ALL"/>	
		<level value="ALL"/>
		<appender-ref ref="DefaultLogByRollingAppender" />
	</root>
</log4net>